:root{
    --theme: #212529;
}
a{
    text-decoration: none;
}
.card{
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: var(--theme);
    color: white;
}

body{
    background-color: var(--theme);
}

.footer{
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}